{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/user/repos?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":107903141,\"name\":\"labelord\",\"full_name\":\"jakubjancicka/labelord\",\"owner\":{\"login\":\"jakubjancicka\",\"id\":33009108,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/33009108?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jakubjancicka\",\"html_url\":\"https://github.com/jakubjancicka\",\"followers_url\":\"https://api.github.com/users/jakubjancicka/followers\",\"following_url\":\"https://api.github.com/users/jakubjancicka/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jakubjancicka/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jakubjancicka/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jakubjancicka/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jakubjancicka/orgs\",\"repos_url\":\"https://api.github.com/users/jakubjancicka/repos\",\"events_url\":\"https://api.github.com/users/jakubjancicka/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jakubjancicka/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":true,\"html_url\":\"https://github.com/jakubjancicka/labelord\",\"description\":\"First homework for MI-PYT\",\"fork\":false,\"url\":\"https://api.github.com/repos/jakubjancicka/labelord\",\"forks_url\":\"https://api.github.com/repos/jakubjancicka/labelord/forks\",\"keys_url\":\"https://api.github.com/repos/jakubjancicka/labelord/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/jakubjancicka/labelord/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/jakubjancicka/labelord/teams\",\"hooks_url\":\"https://api.github.com/repos/jakubjancicka/labelord/hooks\",\"issue_events_url\":\"https://api.github.com/repos/jakubjancicka/labelord/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/jakubjancicka/labelord/events\",\"assignees_url\":\"https://api.github.com/repos/jakubjancicka/labelord/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/jakubjancicka/labelord/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/jakubjancicka/labelord/tags\",\"blobs_url\":\"https://api.github.com/repos/jakubjancicka/labelord/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/jakubjancicka/labelord/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/jakubjancicka/labelord/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/jakubjancicka/labelord/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/jakubjancicka/labelord/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/jakubjancicka/labelord/languages\",\"stargazers_url\":\"https://api.github.com/repos/jakubjancicka/labelord/stargazers\",\"contributors_url\":\"https://api.github.com/repos/jakubjancicka/labelord/contributors\",\"subscribers_url\":\"https://api.github.com/repos/jakubjancicka/labelord/subscribers\",\"subscription_url\":\"https://api.github.com/repos/jakubjancicka/labelord/subscription\",\"commits_url\":\"https://api.github.com/repos/jakubjancicka/labelord/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/jakubjancicka/labelord/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/jakubjancicka/labelord/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/jakubjancicka/labelord/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/jakubjancicka/labelord/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/jakubjancicka/labelord/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/jakubjancicka/labelord/merges\",\"archive_url\":\"https://api.github.com/repos/jakubjancicka/labelord/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/jakubjancicka/labelord/downloads\",\"issues_url\":\"https://api.github.com/repos/jakubjancicka/labelord/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/jakubjancicka/labelord/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/jakubjancicka/labelord/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/jakubjancicka/labelord/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/jakubjancicka/labelord/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/jakubjancicka/labelord/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/jakubjancicka/labelord/deployments\",\"created_at\":\"2017-10-22T21:10:41Z\",\"updated_at\":\"2017-10-22T21:15:50Z\",\"pushed_at\":\"2017-11-06T22:31:04Z\",\"git_url\":\"git://github.com/jakubjancicka/labelord.git\",\"ssh_url\":\"git@github.com:jakubjancicka/labelord.git\",\"clone_url\":\"https://github.com/jakubjancicka/labelord.git\",\"svn_url\":\"https://github.com/jakubjancicka/labelord\",\"homepage\":null,\"size\":64,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":1,\"forks\":0,\"open_issues\":1,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":110822492,\"name\":\"lunch_guy\",\"full_name\":\"jakubjancicka/lunch_guy\",\"owner\":{\"login\":\"jakubjancicka\",\"id\":33009108,\"avatar_url\":\"https://avatars3.githubusercontent.com/u/33009108?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jakubjancicka\",\"html_url\":\"https://github.com/jakubjancicka\",\"followers_url\":\"https://api.github.com/users/jakubjancicka/followers\",\"following_url\":\"https://api.github.com/users/jakubjancicka/following{/other_u[...]
