{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"bug\", \"color\": \"123456\"}"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "PATCH", "uri": "https://api.github.com/repos/cvut/MI-PYT/labels/bug"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4988", "X-RateLimit-Reset": "1511224042", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/cvut/MI-PYT/labels/bug"}, "recorded_at": "2017-11-21T00:01:44"}], "recorded_with": "betamax/0.8.0"}