{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/jakubjancicka/wator/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4991", "X-RateLimit-Reset": "1511224042", "ETag": "\"d0cbd42292504fd2c0b0c32e4fc2a72c\"", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/jakubjancicka/wator/labels?per_page=100&page=1"}, "recorded_at": "2017-11-20T23:47:07"}], "recorded_with": "betamax/0.8.0"}