{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/jakubjancicka/labelord/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":728489760,\"url\":\"https://api.github.com/repos/jakubjancicka/labelord/labels/bug\",\"name\":\"bug\",\"color\":\"ee0701\",\"default\":true},{\"id\":728489767,\"url\":\"https://api.github.com/repos/jakubjancicka/labelord/labels/duplicate\",\"name\":\"duplicate\",\"color\":\"cccccc\",\"default\":true},{\"id\":728489771,\"url\":\"https://api.github.com/repos/jakubjancicka/labelord/labels/enhancement\",\"name\":\"enhancement\",\"color\":\"84b6eb\",\"default\":true},{\"id\":728603683,\"url\":\"https://api.github.com/repos/jakubjancicka/labelord/labels/Test\",\"name\":\"Test\",\"color\":\"FF4F10\",\"default\":false},{\"id\":728489785,\"url\":\"https://api.github.com/repos/jakubjancicka/labelord/labels/wontfix\",\"name\":\"wontfix\",\"color\":\"ffffff\",\"default\":true}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4990", "X-RateLimit-Reset": "1511224042", "ETag": "\"f7e03c9e251ce1530a66744f899495f0\"", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/jakubjancicka/labelord/labels?per_page=100&page=1"}, "recorded_at": "2017-11-20T23:48:15"}], "recorded_with": "betamax/0.8.0"}